.score-circle-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.score-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.score-percentage {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--text-primary);
  font-family: 'Montserrat', sans-serif;
}
